@media (max-width: 33em) {
  html {
    font-size: 56.5%;
  }
  .slider {
    grid-template-columns: 1fr;
    row-gap: 0.8rem;
  }

  .slide {
    height: auto;
    grid-column: 1/2;
    order: 1;
  }

  .slider__nav {
    order: 2;
    justify-content: center;
  }
  .slide__text {
    order: 3;
  }

  .slide__text--item {
    justify-content: center;
  }

  .slide__text--item p {
    padding-left: 0;
  }
}
